
<html lang="en">
<body>
<form method="post" class="form-auth">
    <p> <label>Логин:</label><input type="text" name="login" value="" required />
    <p> <label>Пароль:</label><input type="password" name="pswd" value="" required />
    <p> <label>Имя:</label><input type="text" name="name" value="" required />
    <p> <label>Фамилия:</label><input type="text" name="last_name" value="" required />
    <p> <label>Возраст:</label><input type="text" name="old" value="" required />
    <p><label>Роль:</label><select  name="role">
    {% for p in pos1  %}
    {% for p2 in pos2 %}
    <option value="1">{{p.role}}</option>
    <option value="2">{{p2.role}}</option></select></p>
    {% endfor %}
    {% endfor %}
    <p> <input type="submit" value="Создать пользователя" required />
</form>
</body>
</html>